* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

h1, h2 {
  font-family: "Shrikhand", cursive;
}

body {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  padding: 10px 5px 0px 5px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
header .header-logo {
  display: flex;
  justify-content: center;
}

main {
  background-color: #F7F7F7;
}

#ma-search-bar {
  background-color: #EAEAEA;
  padding: 10px;
  display: flex;
  justify-content: center;
}
#ma-search-bar svg {
  color: #353535;
  padding-left: 40px;
}
#ma-search-bar #searchbar {
  background-color: #EAEAEA;
  border: none;
  text-align: center;
  margin-right: 25px;
  color: #353535;
}

#presentation {
  text-align: center;
  margin: 40px 20px 80px 20px;
}
#presentation h2 {
  font-family: "Roboto", sans-serif;
}
#presentation p {
  color: #353535;
  margin-top: 15px;
  margin-bottom: 30px;
}
#presentation button {
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  border: none;
  border-radius: 25px;
  padding: 15px 30px 15px 30px;
}
#presentation button a {
  color: white;
}
#presentation button:hover {
  transition: 0.5s;
  background: linear-gradient(to top left, #965ddc, #ff85dc);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 20px, rgba(0, 0, 0, 0.22) 0px 5px 3px;
}

#fonctionnement h2 {
  font-family: "Roboto", sans-serif;
  margin-left: 15px;
  margin-bottom: 25px;
}
#fonctionnement #ma-liste {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
  max-width: 100%;
}
#fonctionnement #ma-liste .cartouche {
  align-items: center;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
  max-width: 355px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-weight: 700;
  width: 75%;
  padding: 20px;
  margin: 25px auto;
}
#fonctionnement #ma-liste .cartouche .cercle {
  align-items: center;
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
  display: flex;
  height: 30px;
  justify-content: center;
  margin: 0 20px 0 -35px;
  width: 30px;
}
#fonctionnement #ma-liste .cartouche svg {
  margin: 0 10px 0 0;
  color: #7E7E7E;
}
#fonctionnement #ma-liste .cartouche:hover svg {
  color: #9356DC;
}

#nos-restaurants {
  margin-bottom: 50px;
  max-width: 100%;
}
#nos-restaurants h2 {
  font-family: "Roboto", sans-serif;
  margin-left: 15px;
}
#nos-restaurants .global-restos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#nos-restaurants .resto-pres {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  border-radius: 25px;
  margin: 25px 15px;
  width: 345px;
  position: relative;
}
#nos-restaurants .resto-pres .nouveaute {
  background-color: #99E2D0;
  border-radius: 5px;
  color: #008766;
  font-size: 14px;
  font-weight: 700;
  padding: 7px 10px;
  position: absolute;
  right: 16px;
  top: 16px;
}
#nos-restaurants .resto-pres a {
  text-decoration: none;
}
#nos-restaurants .resto-pres img {
  border-radius: 25px 25px 0 0;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
#nos-restaurants .resto-pres figcaption {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nos-restaurants .resto-pres figcaption .texte-resto {
  margin: 5px 0 10px 10px;
}
#nos-restaurants .resto-pres figcaption .texte-resto h3, #nos-restaurants .resto-pres figcaption .texte-resto p {
  margin: 5px 0;
}
#nos-restaurants .resto-pres figcaption .resto-logo {
  margin-right: 10px;
}

footer {
  background-color: #353535;
  padding: 15px 15px 30px 15px;
  color: white;
}
footer .footer-logo h1 {
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 20px;
}
footer .nos-mentions {
  display: flex;
  flex-wrap: wrap;
}
footer .nos-mentions .mentions svg {
  margin-right: 10px;
}
footer .nos-mentions .mentions {
  margin-bottom: 10px;
  margin-right: 150px;
}

.menu-logo {
  align-items: center;
  display: flex;
}
.menu-logo a {
  color: black;
}
.menu-logo a svg {
  margin-left: 10px;
  font-size: 24px;
}
.menu-logo h1 {
  margin: 0 auto;
}

.main-menus #demi-bg {
  background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  min-height: 350px;
}
.main-menus #demi-bg .nom-restaurant {
  align-self: flex-end;
  align-items: center;
  background-color: white;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  padding: 25px 20px;
  width: 100%;
}
.main-menus #demi-bg .nom-restaurant h2 {
  font-size: 28px;
}
.main-menus #demi-bg .nom-restaurant .logo-aime-nom svg {
  font-size: 22px;
}
.main-menus .menu {
  padding-bottom: 30px;
  text-align: center;
}
.main-menus .menu .article-principal {
  margin-left: 15px;
  margin-right: 10px;
  text-align: left;
}
.main-menus .menu .article-principal h3 {
  font-weight: lighter;
  text-transform: uppercase;
}
.main-menus .menu .article-principal .trait-bleu {
  background-color: #99E2D0;
  height: 4px;
  width: 40px;
}
.main-menus .menu .article-principal .carte-generale {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.main-menus .menu .article-principal .carte-generale .carte {
  align-items: flex-end;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  margin: 15px 0px 30px 0px;
  max-width: 380px;
  overflow: hidden;
  padding: 15px 0px 10px 15px;
  width: 355px;
}
.main-menus .menu .article-principal .carte-generale .carte .texte {
  white-space: nowrap;
}
.main-menus .menu .article-principal .carte-generale .carte .texte p {
  font-size: 14px;
}
.main-menus .menu .article-principal .carte-generale .carte .animation-verte {
  display: flex;
  align-items: flex-end;
}
.main-menus .menu .article-principal .carte-generale .carte .animation-verte .prix {
  margin-right: 15px;
  transition: 1s;
}
.main-menus .menu .article-principal .carte-generale .carte .animation-verte .coche-verte {
  align-items: center;
  background-color: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  height: 70px;
  justify-content: center;
  margin-bottom: -10px;
  margin-right: -70px;
  margin-top: -15px;
  transition: 1s;
  width: 70px;
}
.main-menus .menu .article-principal .carte-generale .carte .animation-verte .coche-verte svg {
  color: white;
  transition: 1s;
}
.main-menus .menu .article-principal .carte-generale .carte:hover {
  cursor: pointer;
}
.main-menus .menu .article-principal .carte-generale .carte:hover .texte {
  overflow: hidden;
}
.main-menus .menu .article-principal .carte-generale .carte:hover .texte h4, .main-menus .menu .article-principal .carte-generale .carte:hover .texte p {
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main-menus .menu .article-principal .carte-generale .carte:hover .prix {
  margin-right: 50px;
  background: white;
  transition: 1s;
}
.main-menus .menu .article-principal .carte-generale .carte:hover .coche-verte {
  margin-right: 0px;
  transition: 1s;
}
.main-menus .menu .article-principal .carte-generale .carte:hover svg {
  transition: 1s;
  transform: rotate(360deg);
}
.main-menus .menu button {
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  border: none;
  border-radius: 25px;
  margin: 0 auto;
  padding: 15px 30px 15px 30px;
  width: 200px;
  transition: 0.5s;
}
.main-menus .menu button a {
  color: white;
}
.main-menus .menu button:hover {
  transition: 0.5s;
  background: linear-gradient(to top left, #965ddc, #ff85dc);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 20px, rgba(0, 0, 0, 0.22) 0px 5px 3px;
}/*# sourceMappingURL=styles.css.map */